<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Add the things that you need to get done</p>
    <a href="/todo/add/" class="btn btn-dark btn-lg">Add your To-do</a>
</div>